@import "GLAZE.less";

@min-desktop-wide-width: 1300px;

@rank-divine: #D0A020;
@rank-legendary: #F050A0;
@rank-unique: #C080C0;
@rank-epic: #F09000;
@rank-rare: #4080F0;
@rank-magic: #80C040;
@rank-normal: #E0E0E0;
